table {
  width: 100%;
}

.mat-form-field {
  margin: auto;
  display: block;
  width: 30%;
}

.mat-cell {
  padding: 10px 4px;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  text-align: center;
  margin: 10px 0 0 0;
}

.cars-list {
  width: 80%;
  margin: auto;
}

.add-new-car-button {
  margin: auto;
  display: block;
  width: 30%;
}
